<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="h-full relative">
      <svg class="absolute bottom-0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2400 800"><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="sssurf-grad"><stop stop-color="#0f766e" stop-opacity="1" offset="0%"></stop><stop stop-color="#ccfbf1" stop-opacity="1" offset="100%"></stop></linearGradient></defs><g fill="url(#sssurf-grad)" transform="matrix(1,0,0,1,0,-91.1845703125)"><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,35)" opacity="0.05"></path><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,70)" opacity="0.21"></path><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,105)" opacity="0.37"></path><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,140)" opacity="0.53"></path><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,175)" opacity="0.68"></path><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,210)" opacity="0.84"></path><path d="M 0 324.35089849478584 Q 450 636.4806705902391 600 331.7970313043187 Q 1050 576.8858416862589 1200 320.1929428143168 Q 1650 534.3597598305457 1800 302.36914316118447 Q 2250 460.6700382577795 2400 326.13882773946 L 2400 800 L 0 800 L 0 336.4822559525663 Z" transform="matrix(1,0,0,1,0,245)" opacity="1"></path></g></svg>
      <form
        action="/sign-up"
        method="post"
        class="grid grid-cols-1 gap-8 bg-zinc-800 p-8 w-full sm:max-w-md sm:px-12 rounded-lg shadow-md absolute top-1/2 left-1/2 transform -translate-1/2"
      >
        <div class="relative">
          <input
            type="text"
            name="firstName"
            id="firstName"
            required
            class="<%= `form-field peer ${(locals.errors && errors.firstName) ? 'invalid' : ''}`%>"
            placeholder=" "
          />
          <label for="firstName" class="form-label"> First Name </label>
          <% if (locals.errors && errors.firstName) { %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-red-400 absolute top-4 inset-x-[90%]"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="text-xs text-red-400 mt-2"><%= errors.firstName.msg %></p>
          <% } %>
        </div>
        <div class="relative">
          <input
            type="text"
            name="lastName"
            id="lastName"
            required
            class="<%= `form-field peer ${(locals.errors && errors.lastName) ? 'invalid' : ''}`%>"
            placeholder=" "
          />
          <label for="lastName" class="form-label"> Last Name </label>
          <% if (locals.errors && errors.lastName) { %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-red-400 absolute top-4 inset-x-[90%]"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="text-xs text-red-400 mt-2"><%= errors.lastName.msg %></p>
          <% } %>
        </div>
        <div class="relative">
          <input
            type="email"
            name="email"
            id="email"
            required
            class="<%= `form-field peer ${(locals.errors && errors.email) ? 'invalid' : ''}`%>"
            placeholder=" "
          />
          <label for="email" class="form-label"> Email </label>
          <% if (locals.errors && errors.email) { %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-red-400 absolute top-4 inset-x-[90%]"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="text-xs text-red-400 mt-2"><%= errors.email.msg %></p>
          <% } %>
        </div>
        <div class="relative">
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="new-password"
            required
            class="<%= `form-field peer ${(locals.errors && errors.password) ? 'invalid' : ''}`%>"
            placeholder=" "
          />
          <label for="password" class="form-label">Password</label>
          <% if (locals.errors && errors.password) { %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-red-400 absolute top-4 inset-x-[90%]"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="text-xs text-red-400 mt-2"><%= errors.password.msg %></p>
          <% } %>
        </div>
        <div class="relative">
          <input
            type="password"
            name="passwordConfirmation"
            id="confirm-password"
            autocomplete="new-password"
            required
            class="<%= `form-field peer ${(locals.errors && errors.passwordConfirmation) ? 'invalid' : ''}`%>"
            placeholder=" "
          />
          <label for="confirm-password" class="form-label"
            >Confirm Password</label
          >
          <% if (locals.errors && errors.passwordConfirmation) { %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-red-400 absolute top-4 inset-x-[90%]"
          >
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
              clip-rule="evenodd"
            />
          </svg>
          <p class="text-xs text-red-400 mt-2">
            <%= errors.passwordConfirmation.msg %>
          </p>
          <% } %>
        </div>
        <div>
          <button type="submit" class="btn btn-primary w-full">Sign Up</button>
          <p class="mt-2 text-sm">Already have an account? <a href="/log-in" class="underline decoration-2 decoration-teal-500 hover:text-teal-400">Log in</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
